= render 'locomotive/custom_fields/select_templates'

%script{ :type => 'text/html', :id => 'edit_select_options_button' }
  = link_to t('locomotive.content_entries.form.edit_select_options'), '#', :class => 'edit-options-button'
